src/main/resources/schemas/rsml/rsml-addon.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">  

  <!-- integer string pair -->
  <xs:complexType name="integerStringPairType">
            <xs:sequence>
              <xs:element name="int" type="xs:int" />
              <xs:element name="value" type="xs:string" />
            </xs:sequence>
  </xs:complexType>

  <!-- integer -->
  <xs:complexType name="parent-node">
    <xs:attribute name="value"  type="xs:int" />
  </xs:complexType>
</xs:schema>
